.cards{
    margin-top: 50px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 17px;
}

@media screen and (max-width: 1023px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 529px){
    .cards{
        grid-template-columns: 1fr;        
    }
} 
